  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
  }

  :after,
  :before {
    --tw-content: ""
  }
  :host,
  h1,
  h3 {
    font-size: inherit;
    font-weight: inherit
  }
  
  :-moz-focusring {
    outline: auto
  }

  :-moz-ui-invalid {
    box-shadow: none
  }
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto
  }
  
  ::-webkit-search-decoration {
    -webkit-appearance: none
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
  }
  
  h1,
  h3,
  p {
    margin: 0;
  }
  
  :disabled {
    cursor: default
  }
  
  .absolute {
    position: absolute
  }

  .relative {
    position: relative
  }
  
  .bottom-0 {
    bottom: 0
  }
  
  .left-4 {
    left: 1rem
  }
  
  .top-12 {
    top: 3rem
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

    .mb-12 {
    margin-bottom: 3rem
  }
  .mb-2 {
    margin-bottom: .5rem
  }
  
  .mb-8 {
    margin-bottom: 2rem
  }
  
  .flex {
    display: flex
  }
  
  .h-2 {
    height: .5rem
  }
  .h-4 {
    height: 1rem
  }
  
  .w-2 {
    width: .5rem
  }
  .w-4 {
    width: 1rem
  }
  
  .w-\[2px\] {
    width: 2px
  }
  .w-full {
    width: 100%;
  }

  .max-w-3xl {
    max-width: 50rem;
  }
  
  .-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  
  .flex-col {
    flex-direction: column
  }
  
  .items-center {
    align-items: center
  }
  .justify-start {
    justify-content: flex-start
  }
  .justify-center {
    justify-content: center
  }
  
  .gap-2 {
    gap: .5rem
  }
  .gap-4 {
    gap: 1rem
  }
  .gap-6 {
    gap: 1.5rem
  }
  
  .space-y-16>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse))
  }
  .space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
  }
  
  .rounded-full {
    border-radius: 9999px
  }
  .rounded-lg {
    border-radius: .5rem
  }
  .border {
    border-width: 1px
  }
  .border-4 {
    border-width: 4px
  }
  
  .border-sora-secondary\/20 {
    border-color: rgba(255,155,179,.2)
  }
  .border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity,1))
  }
  
  .bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity,1))
  }
  .bg-sora-accent {
    --tw-bg-opacity: 1;
    background-color: #bdbdbd;
  }
  
  .bg-sora-light {
    --tw-bg-opacity: 1;
    background-color: rgb(189 224 254/var(--tw-bg-opacity,1))
  }

  .bg-sora-neutral\/95 {
    background-color:  #1c1c1c;
  }

  .bg-sora-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(255 155 179/var(--tw-bg-opacity,1))
  }
  
  .p-8 {
    padding: 2rem
  }
  
  .px-4 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
  
  .pl-12 {
    padding-left: 3rem
  }
  
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }
  
  .text-sm {
    font-size: .875rem;
    line-height: 1.25rem
  }
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
  .text-xs {
    font-size: .75rem;
    line-height:  1rem;
  }
  
  .font-bold {
    font-weight: 700
  }
  
  .font-medium {
    font-weight: 500
  }
  
  .font-semibold {
    font-weight:  600;
  }
  
  .text-gray-600 {
    --tw-text-opacity:  1;
    color:  #b9aaaa;
  }
  
  .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
  }
  
  .backdrop-blur-md {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
  }
  
  :root {
    --background: #fff;
    --foreground: #1a1a1a
  }
  
  @media (min-width:640px) {
    .sm\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (max-width:391px) {
    .text-xs {
      font-size: .65rem;
    }
  }

  @media (min-width:768px) {
    .md\:left-1\/2 {
      left: 50%
    }
    .md\:w-\[calc\(50\%-3rem\)\] {
      width: calc(50% - 3rem)
    }
    .md\:justify-start {
      justify-content:flex-start
    }
    .md\:justify-end {
      justify-content: flex-end
    }
    .md\:pl-0 {
      padding-left: 0
    }
    .md\:pl-12 {
      padding-left: 3rem
    }
    .md\:pr-12 {
      padding-right: 3rem
    }
  }
  @media (min-width:1024px) {
    .lg\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem
    }
  }
  
  .h1_header {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .font_weight {
    font-weight: 700;
  }
